# Ignore node_modules directory
node_modules/
images/
# Ignore environment-specific files
.env

# Ignore log files
*.log

# Ignore npm debug log
npm-debug.log

# Ignore any file named .DS_Store (Mac specific)
.DS_Store

# Ignore editor files
.vscode/
.idea/

# Ignore OS-specific files
Thumbs.db
